
body {
  margin: 0;
  padding: 0;
}

.header-container {
  position: relative;
  width: 100%;
  padding: 0 20px 5px 20px;
  box-sizing: border-box;
  border-bottom: 4px solid transparent;
  border-image: linear-gradient(to right, magenta, orange, green);
  border-image-slice: 1;
}

.menu-container{
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

#logo{
  height: auto;
  max-width: 150px;
  display: block;
}

.create-button-container{
  position: absolute;
  top: 25px;
  right: 20px;
}

#create-table-button, #create-table-dialog, #close-create-table-dialog-button, #create-table-submit{
  padding: 12px 24px;
  font-size: 16px;
  font-weight: bold;
  color: #333; 
  cursor: pointer;
  border: 3px solid transparent;
  border-radius: 30px; 
  background: 
    linear-gradient(white, white) padding-box,
    linear-gradient(to right, magenta, orange, green) border-box;
}

#create-table-button:hover, #close-create-table-dialog-button:hover, #create-table-submit:hover{
  color: white;
  background: 
    linear-gradient(to right, magenta, orange, green) padding-box,
    linear-gradient(to right, magenta, orange, green) border-box;
}

